<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630840047558-e4178bflqni83fh44r74egjl0m1gn40v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630840047558-e4178bflqni83fh44r74egjl0m1gn40v</string>
	<key>API_KEY</key>
	<string>AIzaSyD5YSnEG1gXu-7c5IzTSJknIQvGwKHz_vA</string>
	<key>GCM_SENDER_ID</key>
	<string>630840047558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangki.fluttergram</string>
	<key>PROJECT_ID</key>
	<string>fluttergram-cb92f</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergram-cb92f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630840047558:ios:c397480056070d439864c7</string>
</dict>
</plist>